{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>基本信息</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="stylesheet" href="{% static 'css/reset.css ' %}">
	<link rel="stylesheet" href="{% static 'css/login.css ' %}">
	<link rel="stylesheet" href="{% static 'css/records.css ' %}">
	<script type="text/javascript" src="{% static 'js/jquery-1.8.2.min.js ' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/easyui.css ' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/icon.css ' %}">
	<script type="text/javascript" src="{% static 'js/jquery.min.js ' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.easyui.min.js ' %}"></script>

	
	<script type="text/javascript">
		$(document).ready(function(){

			/* 滑动/展开 */
			$("div.menu2 ul li > a.header").click(function(){

				var arrow = $(this).find("span.arrow");

				if(arrow.hasClass("up")){
					arrow.removeClass("up");
					arrow.addClass("down");
				}else if(arrow.hasClass("down")){
					arrow.removeClass("down");
					arrow.addClass("up");
				}

				$(this).parent().find("ul.menu1").slideToggle();

			});

		});
	</script>

</head>
<body>
	
	<!-- 左边栏floatLeft -->
	<div class="menu2 l_aside floatLeft">
		<div class="l_name">
			<img src="{% static 'images/logo_blue.png ' %}" alt="优音通信">
			<p>欢迎您：梅赛德</p>
		</div>
		<ul>
			<li>
				<a href="basicInfo" class="header bg_1">
					<span class="txt txt_bg1">基本信息</span>
				</a>
			</li>
			<li>
				<a href="NumberMan" class="header">
					<span class="txt txt_bg2">号码管理</span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0);" class="header">
					<span class="txt txt_bg3">客户管理</span>
					<span class="arrow down"></span>
				</a>
				<ul class="menu1">
					<li><a href="customer"><span>●</span>客户查询</a></li>
					<li><a href="records"><span>●</span>充值记录</a></li>
					<li><a href="bill"><span>●</span>账单查询</a></li>
					<li class="pb12"><a href="reset"><span>●</span>密码重置</a></li>
				</ul>
			</li>
		</ul>
	</div>

	右边栏floatRight
	<div class="r_side floatRight">
		<div class="r_top">
			<div class="floatLeft">
				<p class="r_top_p">上次登录时间：2017-07-02  20:20</p>
			</div>
			<div class="floatRight">
				<a href="javascript:void(0)" class="r_top_mm" onclick="$('#dlg').dialog('open')">修改密码</a>
				<a href="#" class="r_top_tc">退出</a>
			</div>
			<div class="clear"></div>
		</div>
		<div class="b_r_con">
			<div class="floatLeft b_r_con_div">
				<table>
					<tbody>
						<tr>
							<th>用户姓名：</th>
							<td>但是刚刚好</td>
						</tr>
						<tr>
							<th class="ls">角色：</th>
							<td>但是刚刚好</td>
						</tr>
						<tr>
							<th>客户经理：</th>
							<td>但是刚刚好</td>
						</tr>
						<tr>
							<th>支持电话：</th>
							<td>但是刚刚好</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="floatRight">
				<div class="b_r_dqye_s">
					<p class="b_r_dqye_p">当前余额</p>
					<p class="b_r_dqye_p1"><span>8542</span>.00元</p>
				</div>

				<div class="b_r_dqye_m">
					<p class="b_r_dqye_p">当前余额</p>
					<p class="b_r_dqye_p1"><span>18542</span>.00元</p>
				</div>


				<div class="b_r_dqye_l">
					<p class="b_r_dqye_p">当前余额</p>
					<p class="b_r_dqye_p1"><span>28542</span>.00元</p>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="clear"></div>

	<!-- 修改密码对话框 -->
	<div id="dlg" class="easyui-dialog pass_dlg2" title="修改密码" style="width:80%;height:315px;max-width:460px;padding:10px" data-options="
			modal:true,
			closed:true,
			onResize:function(){
				$(this).dialog('center');
			}">
			<div class="inp_group">
				<label>旧&nbsp;&nbsp;&nbsp;密&nbsp;&nbsp;&nbsp;&nbsp;码：</label>
				<input type="text">
			</div>
			<div class="inp_group">
				<label>新&nbsp;&nbsp;&nbsp;密&nbsp;&nbsp;&nbsp;&nbsp;码：</label>
				<input type="text">
			</div>
			<div class="inp_group">
				<label>确认新密码：</label>
				<input type="text">
			</div>
			<div class="btn_group">
				<button class="d_btn_qd1" onclick="javascript:alert('确定')">确&nbsp;&nbsp;定</button>
			<button class="d_btn_qx ml40" onclick="$('#dlg').dialog('close')">取&nbsp;&nbsp;消</button>
			</div>
			
	</div>
	
	
	<script>
		$(function(){
			$('#dlg').parent().addClass('pass_dlg');
			$('#dlg').prev().addClass('change_pass');
		})
	</script>
	


</body>
</html>